<style>
    .welcome {
      background-image: url('assets/Hr.jpg');
      height: 750px ;
      background-size: cover;
      padding: 50px;
      text-align: left;
     color: white;
    
    }
    .welcome p{
        text-align: left;
        position: absolute;
        top: 80%;
        left: 5%;
        /* transform: translate(-50%, -50%); */
        color: white;
        /* z-index: 1; */
        font-family:  Playfair Display;
      
    }
    .welcome h1 b{
        
       
       font-family:  Playfair Display;
    }
  </style>
  
  <div class="welcome">
    <h1  style="font-size: 3em; margin-top: 70px " > <b>WELCOME TO COGNIZANT </b> </h1>
    <p> Employees are the heart of any organization. 
        At Cognizant, we believe in treating our employees <br>with respect, 
         providing them with ample opportunities to grow and learn, 
         and empowering them <br>to make a meaningful impact. 
        'I've learned that people will forget what you said,
         people will <br>forget what you did, but people will never forget 
         how you made them feel.' That's why we <br>strive to create a positive and 
         supportive work environment that makes our employees feel  <br>valued and 
         appreciated."<br><br> <i>"Building a strong team is the key to unlocking success."</i></p>
  </div>
 
  